body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    max-width: 1000px;  
}

h1{
    color:#333;
    text-align: center;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th{
    background-color: #007bff;
    color: white;
    padding: 12px;
    text-align: left;
}

td{
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
    
tr:hover {
    background-color: #e9ecef;
}




